* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

.parentWrapper {
  display: flex;
  flex-direction: column;
  margin: auto 0.5rem;
}

.greenRec {
  height: 4rem;
  width: 100%;
  background: rgb(98, 127, 63);
}

.cardsWrapper {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  width: 20%;
  height: 120px;
  padding: 10px;
  margin: auto 1rem;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
}

.cardContainer p {
  margin-bottom: 0.5rem;
}

.cardContainer:nth-child(1) {
  border: 0.5px solid rgba(196, 206, 50, 0.5);
  background: rgba(195, 206, 50, 255);
}

.cardContainer:nth-child(2) {
  border: 0.5px solid rgba(239, 228, 203, 0.5);
  background: rgba(239, 228, 203, 255);
  justify-content: space-around;
}

.cardContainer:nth-child(3) {
  border: 0.5px rgba(239, 228, 203, 0.5);
  background: rgba(226, 224, 221, 255);
  justify-content: space-evenly;
}

.cardContainer:nth-child(4) {
  border: 0.5px rgba(181, 225, 224, 0.5);
  background: rgb(181, 225, 224, 255);
  justify-content: space-evenly;
}

.cardContainer:nth-child(5) {
  border: 0.5px rgba(62, 60, 57, 0.5);
  background: rgba(62, 60, 57, 255);
  justify-content: space-evenly;
  color: rgb(255, 255, 255);
}

.details {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.cardContainer:nth-child(n + 2):nth-child(-n + 4) p {
  font-size: 20px;
}

.border {
  width: 2px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.calenderSearchWrapper,
.calenderDiv {
  display: flex;
}

.calenderSearchWrapper {
  margin: 1rem;
  margin-bottom: 0;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: none;
  align-items: center;
  justify-content: space-between;
}

.calenderDiv {
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.calenderDiv div {
  display: flex;
  align-items: center;
}

.datePicker {
  font-size: 18px;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.collapseableTableWrapper {
  display: flex;
}

table {
  border-collapse: collapse;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 0 1rem;
}

td,
th,
tr {
  padding: 10px 24px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
}

th {
  background: rgb(245, 245, 245);
}

.toggle {
  cursor: pointer;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  background: none;
  font-size: 18px;
  padding: 1px 8px;
  border-radius: 50%;
  margin-right: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.noBorder {
  padding: auto;
  background: rgba(255, 253, 237, 255);
}

.yellowBg {
  background: rgba(252, 248, 220, 255);
}

.footerWrapper {
  width: 25%;
  margin: auto;
  margin-right: 1rem;
  margin-top: 1rem;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(100, 100, 100);
}
